
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angular/angular.js"></script>
    <script src="~/Scripts/SPA/app.js"></script>
</head>
<body>
    <div ng-controller="animalController">
        @*<div ng-controller="catController">
            Cat:{{message}}
        </div>
        <div ng-controller="dogController">
            Dog:{{message}}
        </div>*@
        <input type="number" ng-model="num" />{{num}}
        <button ng-click="checkEven()">Check</button>
        Animal:{{message}}
        <tedu-shop-directive></tedu-shop-directive>
    </div>
</body>
</html>
